<!DOCTYPE html>
<html>

<head>
    <title>About Me</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container mt-5 text-center">

    <h1>About Me</h1>

    <p class="mt-4 fs-5">
        I am Aditya M Khiroji, a passionate engineering student
        focused on DevOps, cloud computing, CI/CD pipelines,
        Docker, Jenkins and AWS automation.
    </p>

</div>

</body>
</html>  
